
body{
    margin: 0px;
    border: 0px;
    padding: 0px;
}

/* ------------------- FONT STYLES ---------------- */
.hero-main-text, .header-logo-text, .hero-secondary-text, .button-text, .info-header-text, .quote-text,
.quote-credit-text, .cta-text, .cta-subtext, .copyright-text
{
    font-family: sans-serif;
}
.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin-bottom: 0px;
}

.header-logo-text {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.hero-secondary-text {
    margin-top: 0px;
    font-size: 18px;
    color: #E5E7EB;
}

.info-header-text {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.button-text{
    font-size: 18px;
    color: #F9FAF8;
    background-color: #3882F6;
}

.quote-text {
    margin-left: 10px;
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    color: #1F2937;
}

.quote-credit-text {
    text-align: end;
    margin-right: 50px;
    font-size: 24px;
    font-weight: 800;
    color: #1F2937;
}

.info-image-text{
    text-align: center;
    font-family: sans-serif;
    margin-top: 0px;
    font-size: 14px;
    color: rgb(78, 78, 78);
    width: 125px;
}

.cta-text, .cta-subtext {
    margin: 0px;
    color: #F9FAF8;
}

.cta-text {
    font-size: 18px;
}

.copyright-text {
    color: #F9FAF8;
}


/* ------------------- STYLING SECTION DIVS -------------------------- */

.section-container {
    /*background-color: plum;*/
    /*border: 4px solid indigo;*/
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin: 0px;
    border: 0px;
    font-family: 'Courier New', Courier, monospace;
}

.header-section, .title-section, .info-section, .quote-section, .cta-section, .footer-section {
    width: 100%;
    height: auto;
    /*border: 4px solid darkslategray;
    background: skyblue;*/
    display:flex;
    justify-content: center;
}

/* ---------------------- STYLING HEADER --------------------------- */
.header-section{
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    justify-content: center;
}

.header-section-left, .header-section-right{
    width: 50%;
    background: #1f2937;
    display:flex
}

.header-container {
    display: flex;
    width: 75%;
}

.header-section-right{
    justify-content: center;
}


.header-link, .header-logo{
}

.header-link {
    margin: 20px;
    padding: 10px;
    text-align: center;
}

/*--------------- Title Section -------------------------------*/

.title-section {
    padding: 25px 0px 50px 0px;
    background: #1f2937;
}

.title-section-content-container {
    margin:25px;
    height: auto;
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.title-section-text-container, .title-section-image-container {
    width: 50%;
    height: 100%;
    display: flex;
}

.title-section-image-container{
    margin:auto;
    justify-content: center;
    align-items: center;
    background-color: rgb(104, 109, 121);
    color: #E5E7EB;
    font-family: sans-serif;
}

.title-section-text-container {
    flex-direction: column;
    justify-content: space-between;
    padding-right: 50px;
}

.title-text, .subtitle-text, .sign-up-button{
    margin: 0px;
}

.title-text{
    font-size: 48px;
}

.subtitle-text{
    font-weight: 50;
}

.sign-up-button-container {
    display: flex;
}
.sign-up-button{
    height: 30px;
    width: auto;
    padding: 0px 20px 0px 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border-radius: 8px;
    border: 0px;
}


/* --------------------------- STYLING INFO SECTION -------------------------- */
.info-section {
    flex-direction: column;
    align-items: center;
    display: flex;
    padding-bottom: 25px;
}

.info-section-content-container{
    display: flex;
    justify-content: center;
}

.info-section-content-container{
    width: 50%;
    height: 75%;
}

.info-image-text-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px 25px 0px 25px
}

.info-image {
    border: solid #3882F6;
    height: 125px;
    width: 125px;
    margin: 10%;
    border-radius: 10px;
}

/* --------------- QUOTE SECTION STYLING ------------------ */

.quote-section {
    padding: 50px 0px 50px 0px;
    background-color: #E5E7EB;
}

.quote-container {
    background-color: #E5E7EB;
    height: 50%;
    width: 50%;
}



/* ------------------- STYLING CTA SECTION -------------------------- */
.cta-section{
    padding: 75px 0px 75px 0px;
}

.cta-box {
    border: 0px;
    background-color: #3882F6;
    width: 60%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    padding: 25px 0px 25px 0px;
    border-radius: 10px;
}

.cta-text-container {
    border: 0px;
    background-color: #3882F6;
    width: 50%;
}

.cta-button-container {
    background-color: #3882F6;
    display:flex;
    justify-content: center;
    width: 15%;
    padding: 0;
    align-items: center;
}

.cta-button {
    height: 60%;
    width: 90%;
    border-radius: 8px;
    border: solid 2px #F9FAF8;
}

.cta-button.button-text{
    font-size: 16px;
    font-weight: 800;
}

/* ---------------------- STYLING FOOTER SECTION ----------------------- */
.footer-section {
    background-color: #1F2937;
    padding: 25px;
}